body {
  background-image: url("https://image.ibb.co/fqkgMw/dust_scratches.png");
}

.topPadding {
  padding-top: 60px;
}

.navbar {
  overflow: hidden;
  background-color: #212121;
  position: fixed;
  top: 0;
  width: 100%;
  border-style: solid;
  padding-right: 100px;
  z-index: 1;
}

.navbar a {
  float: right;
  display: block;
  color: #D7CCC8;
  text-align: center;
  padding: 27px;
  text-decoration: none;
  margin-right: 25px;
  font-size: 13pt;
  font-family: verdana;
}

.nav {
  overflow: hidden;
  background-color: #616161;
  bottom: 0;
  width: 100%;
  padding-right: 100px;
}

.nav i {
  padding-left: 10px;
  padding-bottom: 6px;
  padding-top: 10px;
}

.nav h4 {
  text-align: center;
  padding-left: 300px;
  padding-top: 10px;
}

.top {
  background-image: url("https://image.ibb.co/du4S8x/grey_wash_wall.png");
  height: 500px;
  padding-left: 80px;
  padding-right: 40px;
  padding-top: 40px;
}

.middle {
  background-image: url("https://image.ibb.co/c2XEox/wet_snow_2_X.png");
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  height: 620px;
}

.bottom {
  background-image: url("https://image.ibb.co/c2XEox/wet_snow_2_X.png");
  padding-left: 40px;
  padding-right: 40px;
  margin-top: -20px;
  height: 450px;
}

.paddingTop {
  padding-top: 25px;
}

.font1 {
  font-family: Trebuchet MS;
  text-align: center;
  color: #263238;
}

.font2 {
  font-family: Trebuchet MS;
  font-size: 20px;
  color: #263238;
}

.font3 {
  font-family: Helvetica;
  color: #BCAAA4;
}

.font4 {
  font-family: Helvetica;
  font-size: 20px;
  color: #263238;
  margin-top: -10px;
}

.font5 {
  font-family: Helvetica;
  font-size: 20px;
  color: #263238;
}

.imagecontainer {
  margin: 100px auto;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 28px;
  padding-top: 4px;
  transform: rotate(45deg);
  overflow: hidden;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: relative;
}

.imagecontainer img {
  width: 450px;
  height: 450px;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
 /* IE 9 */
  -webkit-transform: rotate(-45deg);
 /* Safari and Chrome */
  position: absolute;
  top: -60px;
  left: -130px;
}

figcaption {
  margin-top: -60px;
  font-family: 'Brush Script MT', Arial, Sans;
  font-size: 25px;
  transform: rotate(45deg);
  letter-spacing: .05em;
  padding-right: 220px;
  padding-top: 2px;
  color: #BDBDBD;
}

.text10 {
  display: flex;
  justify-content: center;
}

#my-text {
  margin-right: 350px;
  margin-top: -250px;
  float: left;
  text-align: right;
}

.my-text1 {
  margin-top: 0px;
  text-align: left;
  color: #616161;
}

#my-text5 {
  margin-left: 400px;
  margin-top: -330px;
  float: right;
  text-align: left;
}

.grid {
  height: 200px;
  width: 200px;
}

.formPad {
  padding-bottom: 13px;
}    
